<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Stager</title>

        <link rel="shortcut icon" href="/_stager/static/img/favicon.png">
        <link href="/_stager/static/css/stager.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <img src="/_stager/static/img/logo.png" alt="Stager Logo">
            </div>
            <div class="body">
                <p class="status">
                    <span class="spinner"></span>
                    Please wait, spinning up instance {{ .backend.Name }}
                </p>
            </div>
            <div class="footer">
                <p>Copyright &copy; 2014 go-stager</p>
            </div>
        </div>

        <script src="/_stager/static/js/stager.js"></script>
    </body>
</html>
